{% extends 'base.html.twig' %}

{% block title %}Edit d'une opération{% endblock %}

{% block body %}
<a href="{{ path('operation') }}">Retour à la liste des opérations</a>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_widget(form.save, { 'label': 'Modifier' }) }}
{{ form_end(form) }}
{% endblock %}
