{{ form_start(formulaireOperation) }}
<div class="row">
    <div class="col-lg-6 form-style gestion_formulaire">
        <legend>Contact client</legend>
        <div class="row">
                <p>Genre</p>
                {{ form_widget(formulaireOperation.contacts_gender)}}
        </div>
        <div class="row">
                <p>Prénom</p>
                {{ form_widget(formulaireOperation.contacts_firstname)}}</div>
        <div class="row">
                <p>Nom</p>
                {{ form_widget(formulaireOperation.contacts_lastname)}}</div>
        <div class="row">
                <p>Date de naissance</p>
                {{ form_widget(formulaireOperation.contacts_birthdate)}}</div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>

    </div>
</div>
<div class="btn-end-form-upd">
    <div>
        <button class="btn btn-retour-radius btn-light">
            <a href="{{path('operations_index')}}">Retour</a>
        </button>
    </div>
    <div>
        <button class="btn btn-radius-red btn-outline-red">Supprimer</button>
        <button class="btn btn-radius-red btn-outline-red">Dupliquer</button>
        <button class="btn btn-radius-red">
            {{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(formulaireOperation) }}
