{% extends 'base.html.twig' %}

{% block title %}Operations index{% endblock %}

{% block body %}
    <h1>Operations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Lien</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.name }}</td>
                <td>{{ operation.url }}</td>
                <td>{{ operation.typeoperation }}</td>
                <td>
                    <a href="{{ path('operations_show', {'name': operation.name}) }}">Afficher</a>
                    <a href="{{ path('operations_edit', {'name': operation.name}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operations_new') }}">Créer une opération</a>
{% endblock %}
