{{ form_start(formAddContacts) }}
<div class="row">

<div class="scrollbar scrollbar-primary">
<div style="overflow-y: scroll; height:300px; width:300px;">

  {{ form_widget(formAddContacts.contacts)}}</div>
  
</div>
</div>
<div class="btn-end-form-upd">
    <div>
        <button class="btn btn-retour-radius btn-light">
            <a href="{{path('operations_index')}}">Retour</a>
        </button>
    </div>
    <div>
        <button class="btn btn-radius-red">
            {{ button_label|default('Send') }}</button>
    </div>
</div>
{{ form_end(formAddContacts) }}