{% extends 'frontbase.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-6 background-img">
    </div>
    <div class="col-6">
        <div class="form-connect">
            <form class="flex-center" id="mdp-all">
                <img src="{{ asset("img/logo-login.png") }}">

                <p id ="oublie-mdp">Vous avez oublié votre mot de passe ?</p>
                <p class="text-mdp">Indiquez votre email et validez pour lancer la procédure de création d'un nouveau mot de passe</p>
                <div class="input-group div-input">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    {{ form_start(form) }}
                    {{ form_widget(form.email, {'attr' : { 'placeholder' : 'E-mail'}}) }}
                    <button type="submit" class="btn primary-btn" id= "valide-mdp">Valider</button>
                    <p class="annule-mdp"><a href="{{ path('app_login') }}">Annuler</a></p>                
                    {{ form_end(form) }}
                </div> 
            </form>
            <div class="bottom-connect">
                <p class="text-muted">Smartleads © tous droits réservés  |  <a class="text-description" href="#">Contactez le support technique</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}