{% extends 'base.html.twig' %}

{% block title %}Behavior index{% endblock %}

{% block body %}
    <h1>Behavior index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for behavior in behaviors %}
            <tr>
                <td>{{ behavior.id }}</td>
                <td>{{ behavior.libelle }}</td>
                <td>
                    <a href="{{ path('behavior_show', {'id': behavior.id}) }}">show</a>
                    <a href="{{ path('behavior_edit', {'id': behavior.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('behavior_new') }}">Create new</a>
{% endblock %}
