{% extends 'base.html.twig' %}

{% block title %}Création de dernier chiffre d'affaire{% endblock %}

{% block body %}
<a href="{{ path('companyLastTurnover') }}">Retour à la liste des derniers chiffres d'affaires</a>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_widget(form.save, { 'label': 'Créer' }) }}
{{ form_end(form) }}
{% endblock %}
