<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Statuts juridiques</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for legalState in legalStatus %}
            <tr class="settings-row">
                <td data-toggle="modal" data-target="#editModalLegalStatus" data-id="{{ legalState.id }}" data-libelle="{{ legalState.libelle }}">{{ legalState.libelle }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<button class="btn btn-primary" data-target="#addModalLegalStatus" data-toggle="modal" type="button">Ajouter</button>

{# Modal ajout #}
<div aria-hidden="true" aria-labelledby="addModalLabel" class="modal fade" id="addModalLegalStatus" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Ajouter un statut juridique</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formLegalStatusAdd) }}
                <div class="row">
                    {{ form_label(formLegalStatusAdd.libelle,null, { "label_attr" : { "class" : "col-lg-4"}})}}
                    {{ form_widget(formLegalStatusAdd.libelle, { "attr" : { "class" : "form-control col-lg-8"}})}}
                </div>
                <div class="btn-end-form-add">
                    <button class="btn btn-radius-red" type="submit">Valider</button>
                </div>
                {{ form_end(formLegalStatusAdd) }}

            </div>

        </div>
    </div>
</div>

{# Modal edit #}
<div aria-hidden="true" aria-labelledby="editModalLabel" class="modal fade" id="editModalLegalStatus" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editer un secteur d'activité</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formLegalStatusEdit) }}
                <input id="legal_status_id" name="legal_status[id]" type="hidden" value=""/>
                <div class="row">
                    {{ form_label(formLegalStatusEdit.libelle,null, { "label_attr" : { "class" : "col-lg-4"}})}}
                    {{ form_widget(formLegalStatusEdit.libelle, { "attr" : { "class" : "form-control col-lg-8"}})}}
                </div>
                <div class="btn-end-form-add">
                    <button class="btn btn-radius-red" type="submit">Valider</button>
                </div>
                {{ form_end(formLegalStatusEdit) }}
            </div>
        </div>
    </div>
</div>
