{% extends 'base.html.twig' %}

{% block title %}LegalStatus{% endblock %}

{% block body %}
    <h1>LegalStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ legal_status.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ legal_status.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('legal_status_index') }}">back to list</a>

    <a href="{{ path('legal_status_edit', {'id': legal_status.id}) }}">edit</a>

    {{ include('legal_status/_delete_form.html.twig') }}
{% endblock %}
