{% extends 'frontbase.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-6 background-img">
    </div>
    <div class="col-6">
        <div class="form-connect">
            <img src="{{ asset("img/logo-login.png") }}">

            <p class="mdpQuestion">Vous avez oublié votre mot de passe ?</p>
            <p class="precisionMdp text-muted center">Indiquez votre email et validez pour lancer la procédure de création d'un nouveau mot de passe</p>
            <div class="validationsMdp input-group div-input">
                <div class="input-group-prepend">
                    <div class="test23 input-group-text"></div>
                </div>
                {{ form_start(form) }}
                {{ form_widget(form.email, {"attr" : {'placeholder': 'E-mail',"class" : "form-control emailMdp"}}) }}
                <button type="submit" class="btn primary-btn" id= "valide-mdp">Valider</button>             
                {{ form_end(form) }}
            </div>
            <p class="annulation-mdp"><a class="annuler-mdp" href="{{ path('app_login') }}">Annuler</a></p>
            <div class="bottom-connect">
                <p class="text-muted">Smartleads © tous droits réservés  |  <a class="text-description" href="#">Contactez le support technique</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}