{% extends 'frontbase.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-6 background-img">
    </div>
    <div class="col-6">
        <div class="form-connect">
                <img src="{{ asset("img/logo-login.png") }}">

                <p>Rénitialisation de votre mot de passe</p>
                <p class="text-muted center">Indiquez votre nouveaux mot de passe puis validez</p>
                <div class="input-group div-input">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    {{ form_start(form) }}
                    {{ form_widget(form.password, {'attr' : { 'placeholder' : 'Mot de passe'}}) }}
                    <button type="submit" class="btn primary-btn">Valider</button>                 
                    {{ form_end(form) }}
                </div>
                <p class="btn primary-btn"><a href="{{ path('app_login') }}">Annuler</a></p>
            <div class="bottom-connect">
                <p class="text-muted">Smartleads © tous droits réservés  |  <a class="text-description" href="#">Contactez le support technique</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}