{% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie d'entreprise{% endblock %}

{% block body %}
<a href="{{ path('companyCategory') }}">Retour à la liste des catégories d'entreprises</a>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_widget(form.save, { 'label': 'Créer' }) }}
{{ form_end(form) }}
{% endblock %}
