{% extends 'base.html.twig' %}

{% block title %}CompanyCategory index{% endblock %}

{% block body %}
    <h1>CompanyCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company_category in company_categories %}
            <tr>
                <td>{{ company_category.id }}</td>
                <td>{{ company_category.libelle }}</td>
                <td>
                    <a href="{{ path('company_category_show', {'id': company_category.id}) }}">show</a>
                    <a href="{{ path('company_category_edit', {'id': company_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('company_category_new') }}">Create new</a>
{% endblock %}
