{% extends 'base.html.twig' %}

{% block title %}Création d'un nombre d'employé{% endblock %}

{% block body %}
<a href="{{ path('companyNbEmployees') }}">Retour à la liste des nombres d'employés</a>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_widget(form.save, { 'label': 'Créer' }) }}
{{ form_end(form) }}
{% endblock %}
