{% extends 'base.html.twig' %}

{% block title %}Edit ParameterComportment{% endblock %}

{% block body %}
<a href="{{ path('ParameterComportment') }}">Retour à la liste des paramètres</a>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_widget(form.save, { 'label': 'Modifier' }) }}
{{ form_end(form) }}
{% endblock %}
