{% extends 'base.html.twig' %}

{% block title %}Edition d'un chiffre d'affaire{% endblock %}

{% block body %}
<a href="{{ path('companyTurnover') }}">Retour à la liste des chiffres d'affaires</a>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_widget(form.save, { 'label': 'Modifier' }) }}
{{ form_end(form) }}
{% endblock %}
