{{ form_start(form) }}
<div class="d-flex">
    <div class="col-lg-2 flex-column-center">
        {% if vich_uploader_asset(settings, 'imageFile') is null %}
            <img alt src="{{ asset('images/logo-user.png')| imagine_filter('logo_application') }}">
        {% else %}
            <img src="{{ vich_uploader_asset(settings, 'imageFile') | imagine_filter('logo_application') }}" >
        {% endif %}
        <div class="div-photo">
            <label for="settings_imageFile">
                <i class="fas fa-sync"></i>PHOTO</label>
            <i alt="Suppression de l'image" class="fas fa-times suppression-img"></i>
        </div>
        {{ form_widget(form.imageFile, { "attr" : { "class" : "display-none"}})}}
    </div>
    <div class="col-lg-10 form-style">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    {{ form_label(form.applicationName, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                    {{ form_widget(form.applicationName, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                    {{ form_errors(form.applicationName) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    {{ form_label(form.address, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                    {{ form_widget(form.address, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                    {{ form_errors(form.address) }}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    {{ form_label(form.phone, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                    {{ form_widget(form.phone, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                    {{ form_errors(form.phone) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    {{ form_label(form.additionalAddress, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                    {{ form_widget(form.additionalAddress, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                    {{ form_errors(form.additionalAddress) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    {{ form_label(form.fax, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                    {{ form_widget(form.fax, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                    {{ form_errors(form.fax) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    {{ form_label(form.email, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                    {{ form_widget(form.email, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    {{ form_label(form.emailAdmin, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                    {{ form_widget(form.emailAdmin, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                    {{ form_errors(form.emailAdmin) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    {{ form_label(form.emailContact, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                    {{ form_widget(form.emailContact, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                    {{ form_errors(form.emailContact) }}
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="btn-end-form-add">
            <button class="btn btn-radius-red">
                {{ button_label|default('Save') }}
            </button>
        </div>

    </div>
</div>
{{ form_end(form) }}