{% extends 'base.html.twig' %}

{% block title %}Settings index{% endblock %}

{% block body %}
    <h1>Settings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Logo</th>
                <th>Numéro</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Email de l'Admin</th>
                <th>Email de contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.applicationName }}</td>
                <td>{{ setting.applicationLogo }}</td>
                <td>{{ setting.phone }}</td>
                <td>{{ setting.fax }}</td>
                <td>{{ setting.email }}</td>
                <td>{{ setting.emailAdmin }}</td>
                <td>{{ setting.emailContact }}</td>
                <td>
                    <a href="{{ path('settings_show', {'id': setting.id}) }}">show</a>
                    <a href="{{ path('settings_edit', {'id': setting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('settings_new') }}">Create new</a>
{% endblock %}
