{% extends 'base.html.twig' %}

{% block title %}SiteType{% endblock %}

{% block body %}
    <h1>SiteType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site_type.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ site_type.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('site_type_index') }}">back to list</a>

    <a href="{{ path('site_type_edit', {'id': site_type.id}) }}">edit</a>

    {{ include('site_type/_delete_form.html.twig') }}
{% endblock %}
