{% extends 'base.html.twig' %}

{% block title %}Modifier une fonction d'un contact(dans son entreprise){% endblock %}

{% block body %}
<a href="{{ path('Gender') }}">Retour à la liste des fonctions</a>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_widget(form.save, { 'label': 'Modifier' }) }}
{{ form_end(form) }}
{% endblock %}
