{{ form_start(form) }}
<div class="d-flex">
    <div class="col-lg-2">
        {% if vich_uploader_asset(salesperson, 'imageFile') is null %}
            <img alt src="">
                {% else %}
                <img src="{{ vich_uploader_asset(salesperson, 'imageFile') | imagine_filter('miniature100x100') }}" class="rounded-circle">
                {% endif %}
                {{ form_widget(form.imageFile) }}
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            {{ form_label(form.gender, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.gender, { "attr" : { "class" : "form-control col-lg-4"}}) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.lastName, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.lastName, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            {{ form_label(form.firstName, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.firstName, { "attr" : { "class" : "form-control col-lg-4"}}) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.profile, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.profile, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            {{ form_label(form.status, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.status, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.birthDate, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.birthDate, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            {{ form_label(form.workname, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.workname, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.mobilePhone, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.mobilePhone, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            {{ form_label(form.phone, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.phone, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.email, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.email, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            {{ form_label(form.linkedin, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.linkedin, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.imageFile, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.imageFile, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            {{ form_label(form.leader, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.leader, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-radius-red">Supprimer</button>
                <button class="btn btn-radius-red">Demande de mise à jour</button>
                <button class="btn btn-radius-red">
                    {{ button_label|default('Save') }}</button>
            </div>
        </div>
        {{ form_end(form) }}
        