{% extends 'base.html.twig' %}
{% block title %}Commerciaux
{% endblock %}
{% block body %}
    <div class="titleSearch">
    <div><h1 class="inline-search">Commerciaux<strong class="red-primary">({{ nbSalespersons }})</strong></h1></div>
    {{ form_start(formsearch, {'attr': {'class': 'inline-search', "id": "form_search"}}) }}
        {{ form_widget(formsearch.search, {'attr': {'class': 'search-input', 'placeholder':'Rechercher'}})}}
        <button class="btn-search"><i aria-hidden="true" class="fas fa-search"></i></button>
        
    </div>

    
    
    <div class="container-content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                <div class="custom-control custom-checkbox checkbox-dynamic-all">
                    <input type="checkbox" class="custom-control-input" id="all-check" value="all">
                    <label class="custom-control-label" for="all-check"></label>
                </div>
                </th>
                    <th></th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Fonction</th>
                    <th>Zone affectée</th>
                    <th>Entreprises</th>
                    <th>Contacts</th>
                    <th>Score</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                {% for salesperson in salespeople %}
                    <tr class="clickable-row" data-href="{{ path('salesperson_edit', {'code': salesperson.code}) }}">
                        <td class="check-user">
                            <div class="custom-control custom-checkbox  checkbox-dynamic">
                                <input type="checkbox" class="custom-control-input" id="check-{{ salesperson.code }}" value="{{ salesperson.code }}">
                                <label class="custom-control-label" for="check-{{ salesperson.code }}"></label>
                            </div>
                        </td>
                        <td class="logo-table">
                            {% if vich_uploader_asset(salesperson, 'imageFile') is null %}
                                <img alt src="{{ asset('images/logo-user.png')| imagine_filter('miniature') }}">
                                {% else %}
                                    <img class="rounded-circle" src="{{ vich_uploader_asset(salesperson, 'imageFile') | imagine_filter('miniature') }}" alt>
                                    {% endif %}
                                </td>
                                <td>{{ salesperson.firstName }}</td>
                                <td>{{ salesperson.lastName }}</td>
                                <td>{{ salesperson.workName }}</td>
                                <td>{{ salesperson.affectedArea }}</td>
                                <td></td>

                                <td></td>

                                {# <td>{{ salesperson.getNumberCompaniesAffected }}</td> #}

                                {# <td>{{ salesperson.getNumberContactsAffected }}</td> #}

                                <td></td>

                                <td>
                                    <i class="fas fa-mobile" title="{{ salesperson.mobilePhone }}" data-toggle="tooltip" data-placement="top"></i>
                                
                                    <i class="fas fa-phone-square" title="{{ salesperson.phone }}" data-toggle="tooltip" data-placement="top"></i>
                                
                                    <i class="fas fa-at" title="{{ salesperson.email }}" data-toggle="tooltip" data-placement="top"></i>
                                
                                    <a href="{{ salesperson.linkedin }}">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="16">Aucun contact trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="panel-Boutons">
                    <div class="panel-left">
                            {{ form_widget(formsearch.limit, {'id': 'search_limit','attr': {'class': 'form-control form-control-lg'}})}}
                        <i class="fas fa-trash fa-lg" id="suppression-salesperson-checked" title="Supprimer"></i> 
                        <i class="fas fa-download fa-lg" title="Télécharger"></i>
                        <i class="fas fa-user-plus fa-lg" title="Importer"></i>
                    </div>
                    {{ knp_pagination_render(salespeople) }}
                    <a class="btn btn-radius-red" href="{{ path('salesperson_new') }}">Ajouter</a>
                </div>
            </div>
            {{ form_end(formsearch) }}
        {% endblock %}