{% extends 'base.html.twig' %}
{% block title %}Liste des responsables d'équipe
{% endblock %}
{% block body %}
    <div class="titleSearch">
        <h1>Liste des responsables d'équipe
            <strong class="red-primary">({{nbLeaders}})</strong>
        </h1>
        {{ form_start(formsearch, {'attr': {'class': 'inline-search', "id": "form_search"}}) }}
        {{ form_widget(formsearch.search, {'attr': {'class': 'search-input', 'placeholder':'Rechercher'}})}}
        <button class="btn-search">
            <i aria-hidden="true" class="fas fa-search"></i>
        </button>
    </div>
    <div class="container-content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="check-all" type="checkbox" value="all">
                            <label class="custom-control-label" for="check-all"></label>
                        </div>
                    </th>
                    <th></th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Genre</th>
                    <th>Type</th>
                    <th>Statut</th>
                    <th>Date de naissance</th>
                    <th>Poste</th>
                    <th>Mobile</th>
                    <th>Fixe</th>
                    <th>Email</th>
                    <th>Linkedin</th>
                </tr>
            </thead>
            <tbody>
                {% for leader in leaders %}
                    <tr class="clickable-row" data-href="{{ path('list_team_one_responsable', {'code': leader.code}) }}">
                        <td class="check-user">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check-{{ leader.code }}" value="{{ leader.code }}">
                                <label class="custom-control-label" for="check-{{ leader.code }}"></label>
                            </div>
                        </td>
                        <td class="logo-table">
                            {% if vich_uploader_asset(leader, 'imageFile') is null %}
                                <img alt src="{{ asset('images/logo-user.png')| imagine_filter('miniature') }}">
                            {% else %}
                                <img class="rounded-circle" src="{{ vich_uploader_asset(leader, 'imageFile') | imagine_filter('miniature') }}" alt>
                            {% endif %}
                        </td>
                        <td>{{ leader.firstName }}</td>
                        <td>{{ leader.lastName }}</td>
                        <td>{{ leader.gender }}</td>
                        <td>{{ leader.profile }}</td>
                        <td>{{ leader.status ? 'Actif' : 'Inactif' }}</td>
                        <td>{{ leader.birthDate ? leader.birthDate|date('Y-m-d') : '' }}</td>
                        <td>{{ leader.workName }}</td>
                        <td>
                            <i class="fas fa-mobile" title="{{ leader.mobilePhone }}"></i>
                        </td>
                        <td>
                            <i class="fas fa-phone-square" title="{{ leader.phone }}"></i>
                        </td>
                        <td>
                            <i class="fas fa-at" title="{{ leader.email }}"></i>
                        </td>
                        <td>
                            <a href="{{ leader.linkedin }}">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="16">Aucun contact trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="panel-Boutons">
            <div class="panel-left">
                {{ form_widget(formsearch.limit, {'id': 'search_limit', 'attr': {'class': 'form-control form-control-lg'} })}}
                <i class="fas fa-trash fa-lg" title="Supprimer"></i>
                <i class="fas fa-download fa-lg" title="Télécharger"></i>
                <i class="fas fa-user-plus fa-lg" title="Importer"></i>
            </div>
            {{ knp_pagination_render(leaders) }}
            <a class="btn btn-radius-red" href="{{ path('contacts_new') }}">Ajouter</a>
        </div>
    </div>
    {{ form_end(formsearch) }}
    <a class="btn btn-primary" href="{{ path('salesperson_new') }}">Créer un commercial</a>
{% endblock %}