{% extends 'base.html.twig' %}

{% block title %} Equipe d'un responsable {% endblock %}

{% block body %}
        {% for leader in responsable %}

        <h1>Equipe de {{ leader.firstName }} {{ leader.lastName }} <strong class="red-primary">({{salespeople|length}})</strong></h1>

        {% endfor %}
        
    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Type</th>
                <th>Statut</th>
                <th>Date de naissance</th>
                <th>Poste</th>
                <th>Mobile</th>
                <th>Fixe</th>
                <th>Email</th>
                <th>Linkedin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salesperson in salespeople %}
            <tr class="clickable-row" data-href="{{ path('salesperson_edit', {'code': salesperson.code}) }}">
                <td>{{ salesperson.firstName }}</td>
                <td>{{ salesperson.lastName }}</td>
                <td>{{ salesperson.gender }}</td>
                <td>{{ salesperson.profile }}</td>
                <td>{{ salesperson.status ? 'Actif' : 'Inactif' }}</td>
                <td>{{ salesperson.birthDate ? salesperson.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ salesperson.workName }}</td>
                <td> <i class="fas fa-mobile"  title="{{ salesperson.mobilePhone }}"></i></td>
                <td><i class="fas fa-phone-square" title="{{ salesperson.phone }}"></i></td>
                <td><i class="fas fa-at" title="{{ salesperson.email }}"></i></td>
                <td><a href="{{ salesperson.linkedin }}"><i class="fab fa-linkedin"></i></a></td>
                <td>
                    <a href="{{ path('salesperson_show', {'code': salesperson.code}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('salesperson_new') }}">Créer un commercial</a>
{% endblock %}
