{% extends 'base.html.twig' %}

{% block title %} Equipe d'un responsable {% endblock %}

{% block body %}
    
    <h1 class="inline-search">Equipe de  <strong class="red-primary">({{salespersons|length}})</strong></h1>
    
    
    {{ form_start(formsearch, {'attr': {'class': 'inline-search'}}) }}
    {{ form_widget(formsearch.search, {'attr': {'class': 'search-input', 'placeholder':'Rechercher'}})}}
    <i aria-hidden="true" class="fas fa-search"></i>
    {{ form_end(formsearch) }}
<div class="container-content">
    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Type</th>
                <th>Statut</th>
                <th>Date de naissance</th>
                <th>Poste</th>
                <th>Mobile</th>
                <th>Fixe</th>
                <th>Email</th>
                <th>Linkedin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salesperson in salespersons %}
            <tr class="clickable-row" data-href="{{ path('salesperson_edit', {'code': salesperson.code}) }}">
                <td>{{ salesperson.firstName }}</td>
                <td>{{ salesperson.lastName }}</td>
                <td>{{ salesperson.gender }}</td>
                <td>{{ salesperson.profile }}</td>
                <td>{{ salesperson.status ? 'Actif' : 'Inactif' }}</td>
                <td>{{ salesperson.birthDate ? salesperson.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ salesperson.workName }}</td>
                <td> <i class="fas fa-mobile"  title="{{ salesperson.mobilePhone }}"></i></td>
                <td><i class="fas fa-phone-square" title="{{ salesperson.phone }}"></i></td>
                <td><i class="fas fa-at" title="{{ salesperson.email }}"></i></td>
                <td><a href="{{ salesperson.linkedin }}"><i class="fab fa-linkedin"></i></a></td>
                <td>
                    <a href="{{ path('salesperson_show', {'code': salesperson.code}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">Aucun contact trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="panel-Boutons">
            <div class="panel-left">
                <select class="form-control form-control-lg">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                </select>
                <i class="fas fa-trash fa-lg" title="Supprimer"></i>
                <i class="fas fa-download fa-lg" title="Télécharger"></i>
                <i class="fas fa-user-plus fa-lg" title="Importer"></i>
                {{ knp_pagination_render(salespersons) }}
            </div>
            <a class="btn btn-radius-red" href="{{ path('contacts_new') }}">Ajouter</a>
    </div>
</div>

    <a class="btn btn-primary" href="{{ path('salesperson_new') }}">Créer un commercial</a>
{% endblock %}
