{% extends 'base.html.twig' %}

{% block title %}GraphicStyle{% endblock %}

{% block body %}
    <h1>GraphicStyle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ graphic_style.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ graphic_style.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('graphic_style_index') }}">back to list</a>

    <a href="{{ path('graphic_style_edit', {'id': graphic_style.id}) }}">edit</a>

    {{ include('graphic_style/_delete_form.html.twig') }}
{% endblock %}
