{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <h1>Entreprises</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Statut</th>
                <th>Pays</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Numéro</th>
                <th>Fax</th>
                <th>Site</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.status }}</td>
                <td>{{ company.country }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.town }}</td>
                <td><i class="fas fa-phone-square" title="{{ company.phone }}"></i></td>
                <td><i class="fas fa-fax" title="{{ company.fax }}"></i></td>
                <td><a href="{{ company.website }}" target="_blank"><i class="fas fa-info" title="{{ company.website }}"></i></a></td>
                <td>
                    <a href="{{ path('company_show', {'code': company.code}) }}">Afficher</a>
                    <a href="{{ path('company_edit', {'code': company.code}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">Aucune entreprise enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('company_new') }}">Créer une entreprise</a>
{% endblock %}
