<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset("styles.css") }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img class="img-primary" src="{{ asset("img/logo-login.png") }}">
                    <strong>HF</strong>
                    <i class="fas fa-angle-left" id="sidebarCollapse"></i>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contacts_index') }}">Contacts</a>
                    </li>
                    {% if is_granted("ROLE_DIRECTEUR") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('salesperson_index') }}">Commerciaux</a>
                    </li>
                    {% endif %}
                    {% if is_granted("ROLE_RESPONSABLE") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('salesperson_team') }}">Mon équipe</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('company_index') }}">Entreprises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('operations_index') }}">Opérations</a>
                    </li>
                    {% if is_granted("ROLE_DIRECTEUR") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('settings_index') }}">Paramètres</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

            <!-- Page Content  -->
            <div id="content">
                <nav class="navbar navbar-expand-lg">
                    <form class="form-inline">
                        <div class="md-form my-0">
                            <i class="fas fa-search"></i>
                            <input class="form-control form-search mr-sm-2" type="text" placeholder="Rechercher..." aria-label="Rechercher...">
                        </div>
                    </form>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light">1
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                    <a class="dropdown-item waves-effect waves-light" href="#">Mon Compte</a>
                                    <a class="dropdown-item waves-effect waves-light" href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        
        {% block javascripts %}
            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"></script>
            <!-- Sidenav menu -->
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
