{% extends 'base.html.twig' %}

{% block title %}Target index{% endblock %}

{% block body %}
    <h1>Target index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for target in targets %}
            <tr>
                <td>{{ target.id }}</td>
                <td>{{ target.libelle }}</td>
                <td>
                    <a href="{{ path('target_show', {'id': target.id}) }}">show</a>
                    <a href="{{ path('target_edit', {'id': target.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('target_new') }}">Create new</a>
{% endblock %}
