{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}


    <div class="dashboard-class">
        <div class="top-dashboard">
            <h1>Tableau de bord</h1>
            <div class="right-top-dashboard">
                <a href="#" class="display-tv">Afficher sur la TV</a>
                <ul class="nav nav-pill" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-today-tab" data-toggle="pill" href="#pills-today" role="tab" aria-controls="pills-today" aria-selected="true">Aujourd'hui</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-week-tab" data-toggle="pill" href="#pills-week" role="tab" aria-controls="pills-week" aria-selected="false">Semaine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-month-tab" data-toggle="pill" href="#pills-month" role="tab" aria-controls="pills-month" aria-selected="false">Mois</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-year-tab" data-toggle="pill" href="#pills-year" role="tab" aria-controls="pills-year" aria-selected="false">Année</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-today" role="tabpanel" aria-labelledby="pills-today-tab">
                <div class="row">
                    <div class="col-8">
                        <div class="dash-statistiques">
                            <div class="box box-first">
                                <div class="partSup">
                                    <i class="fas fa-user-friends fa-lg"></i>
                                    <span class ="taux">+12%</span>
                                </div>
                                <span class="effectif">32</span>
                                <span id ="libelle">Nouveaux contacts</span>
                            </div>
                            <div class="box box-first">
                                <div class="partSup">
                                    <i class="fas fa-building"></i>
                                    <span class="taux">+5%</span>
                                </div>
                                <span class="effectif">18</span>
                                <span id="libelle">Nouvelles entreprises</span>
                            </div>
                            <div class="box box-first">
                                <div class="partSup">
                                    <i class="fas fa-envelope"></i>
                                    <span class="taux">+11%</span>
                                </div>
                                <span class="effectif">25</span>
                                <span id ="libelle">Nouveaux emails</span>
                            </div>
                            <div class="box box-first">
                                <div class="partSup">
                                    <i class="fas fa-star"></i>
                                    <span class ="taux">+12%</span>
                                </div>
                                <span class="effectif">9</span>
                                <span id="libelle">Opérations actives</span>
                            </div>
                            <div class="box box-second">
                                <div class="partSup-second">
                                    <span class="withadd">TOTAL</span>
                                    <a href="/admin/contacts/new"><i class="fas fa-plus-circle"></i></a>
                                </div>
                                <span class="effectif">4583</span>
                                <span id="libelle">Contacts actifs</span>
                            </div>
                            <div class="box box-second">
                                <div class="partSup-second">
                                    <span class="withadd">TOTAL</span>
                                    <a href="/admin/company/new"><i class="fas fa-plus-circle"></i></a>
                                </div>
                                <span class="effectif">1879</span>
                                <span id="libelle">Entreprises actives</span>
                            </div>
                            <div class="box box-second">
                                <div class="partSup-second">
                                    <span>TOTAL</span>
                                </div>
                                <span class="effectif">2687</span>
                                <span id="libelle">Emails</span>
                            </div>
                            <div class="box box-second">
                                <div class="partSup-second">
                                    <span class="withadd">TOTAL</span>
                                    <a href="/admin/operations/new"><i class="fas fa-plus-circle"></i></a>
                                </div>
                                <span class="effectif">274</span>
                                <span id="libelle">Opérations réalisées</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dash-window-block">
                            <div class="dash-perf-operation">
                                <div class="dash-top">
                                    <h4>Performances des opérations</h4>
                                    <i class="fas fa-ellipsis-h"></i>
                                </div>
                                <div id="chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="dash-window-block">
                            <div class="dash-indicateur-perf">
                                <div class="dash-top">
                                    <h4>Suivi des indicateurs de performance</h4>
                                    <i class="fas fa-ellipsis-h"></i>
                                </div>
                                <div class="indic-perf">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="menu-indicateur-perf">
                                                <ul class="nav nav-pills" id="indic-pills-tab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="pills-operations-tab" data-toggle="pill" href="#pills-operations" role="tab" aria-controls="pills-today" aria-selected="true">Opérations</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-contacts-new-tab" data-toggle="pill" href="#pills-contacts-new" role="tab" aria-controls="pills-week" aria-selected="false">Nouveaux contacts</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-contacts-maj-tab" data-toggle="pill" href="#pills-contacts-maj" role="tab" aria-controls="pills-week" aria-selected="false">Contacts mis à jour</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-contacts-lost-tab" data-toggle="pill" href="#pills-contacts-lost" role="tab" aria-controls="pills-week" aria-selected="false">Contacts perdus</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-new-company-tab" data-toggle="pill" href="#pills-new-company" role="tab" aria-controls="pills-week" aria-selected="false">Nouvelles entreprises</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-new-email-tab" data-toggle="pill" href="#pills-new-email" role="tab" aria-controls="pills-week" aria-selected="false">Nouveaux emails</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div id="line-operation-chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                    <div class="dash-window-block">
                            <div class="dash-france-map">
                                <div class="dash-top">
                                    <h4>Performance par départements</h4>
                                    <i class="fas fa-ellipsis-h"></i>
                                </div>
                                <div class="france-map">
                                    <object data="{{ asset('img/dashboard/france-map.svg')}}" type="image/svg+xml"></object>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="dash-window-block">
                            <table class="table">
                                <thead>
                                    <tr class="top-tr">
                                        <th scope="col">Top commerciaux</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Score</th>
                                        <th scope="col">Gagnés</th>
                                        <th scope="col">Mis à jour</th>
                                        <th scope="col">Perdus</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                                        <td><span class="bulle">26</span></td>
                                        <td>5</td>
                                        <td>24</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                                        <td><span class="bulle">26</span></td>
                                        <td>5</td>
                                        <td>24</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                                        <td><span class="bulle">26</span></td>
                                        <td>5</td>
                                        <td>24</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                                        <td><span class="bulle">26</span></td>
                                        <td>5</td>
                                        <td>24</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                                        <td><span class="bulle">26</span></td>
                                        <td>5</td>
                                        <td>24</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                                        <td><span class="bulle">26</span></td>
                                        <td>5</td>
                                        <td>24</td>
                                        <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-week" role="tabpanel" aria-labelledby="pills-week-tab">
                WEEK CONTENT
            </div>
            <div class="tab-pane fade" id="pills-month" role="tabpanel" aria-labelledby="pills-month-tab">
                MONTH CONTENT
            </div>
            <div class="tab-pane fade" id="pills-year" role="tabpanel" aria-labelledby="pills-year-tab">
                YEAR CONTENT
            </div>
        </div>
    </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% endblock %}
