<div class="row">
    <div class="col-12">
        <div class="dash-quality-crm">
        </div>
    </div>
    <div class="col-8">
        <div class="dash-statistiques">
            <div class="box">
                <div class = "partSup">
                    <i class="fas fa-user-friends fa-lg"></i>
                    <span class ="taux">
                    +12%
                    </span>
                </div>
                <span class = "effectif">
                    32
                </span>
                <span id ="libelle">
                    Nouveaux contacts
                </span>
            </div>
            <div class="box">
                <div class = "partSup">
                    <i class="fas fa-user-friends fa-lg"></i>
                    <span class ="taux">
                    +5%
                    </span>
                </div>
                <span class = "effectif">
                    18
                </span>
                <span id ="libelle">
                    Nouvelles entreprises
                </span>
            </div>
            <div class="box">
                <div class = "partSup">
                    <i class="fas fa-user-friends fa-lg"></i>
                    <span class ="taux">
                    +11%
                    </span>
                </div>
                <span class = "effectif">
                    25
                </span>
                <span id ="libelle">
                    Nouveaux emails
                </span>
            </div>
            <div class="box">
                <div class = "partSup">
                    <i class="fas fa-user-friends fa-lg"></i>
                    <span class ="taux">
                    +12%
                    </span>
                </div>
                <span class = "effectif">
                    9
                </span>
                <span id ="libelle">
                    Opérations actives
                </span>
            </div>
            <div class="box">
                <div class = "partSup">
                    <i class="fas fa-user-friends fa-lg"></i>
                    <span class ="taux">
                    +12%
                    </span>
                </div>
                <span class = "effectif">
                    32
                </span>
                <span id ="libelle">
                    Nouveaux contacts
                </span>
            </div>
            <div class="box">
                <div class = "partSup">
                    <i class="fas fa-user-friends fa-lg"></i>
                    <span class ="taux">
                    +12%
                    </span>
                </div>
                <span class = "effectif">
                    32
                </span>
                <span id ="libelle">
                    Nouveaux contacts
                </span>
            </div>
            <div class="box">
                <div class = "partSup">
                    <i class="fas fa-user-friends fa-lg"></i>
                    <span class ="taux">
                    +12%
                    </span>
                </div>
                <span class = "effectif">
                    32
                </span>
                <span id ="libelle">
                    Nouveaux contacts
                </span>
            </div>
            <div class="box">
                <div class = "partSup">
                    <i class="fas fa-user-friends fa-lg"></i>
                    <span class ="taux">
                    +12%
                    </span>
                </div>
                <span class = "effectif">
                    32
                </span>
                <span id ="libelle">
                    Nouveaux contacts
                </span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="dash-perf-operation">
            <div id="chart"></div>
        </div>
    </div>
    <div class="col-6">
    </div>
    <div class="col-6">
        <div class="dash-window-block">
            <table class="table">
                <thead>
                    <tr class="top-tr">
                        <th scope="col">Top commerciaux</th>
                    </tr>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Score</th>
                        <th scope="col">Gagnés</th>
                        <th scope="col">Mis à jour</th>
                        <th scope="col">Perdus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                        <td><span class="bulle">26</span></td>
                        <td>5</td>
                        <td>24</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                        <td><span class="bulle">26</span></td>
                        <td>5</td>
                        <td>24</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                        <td><span class="bulle">26</span></td>
                        <td>5</td>
                        <td>24</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                        <td><span class="bulle">26</span></td>
                        <td>5</td>
                        <td>24</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                        <td><span class="bulle">26</span></td>
                        <td>5</td>
                        <td>24</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td scope="row"><img src="{{ asset("img/account/profile-img.png") }}"><i class="fas fa-arrow-up"></i> Vincent DUMONT</td>
                        <td><span class="bulle">26</span></td>
                        <td>5</td>
                        <td>24</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>