{{ form_start(form) }}
    {{ form_row(form.code) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.birthDate) }}
    {{ form_row(form.profession) }}
    {{ form_row(form.Company) }}
    {{ form_row(form.workName) }}
    {{ form_row(form.decisionMaking) }}
    {{ form_row(form.salesperson) }}
    {{ form_row(form.mobilePhone) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.linkedin) }}
    {{ form_row(form.facebook) }}
    {{ form_row(form.twitter) }}
    {{ form_row(form.picture) }}
    {{ form_row(form.comment) }}
    {{ form_row(form.optInNewsletter) }}
    {{ form_row(form.optInOffresCommercial) }}

    {{ form_row(form.status) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
