{{ form_start(form) }}
<div class="row">
    <div class="col-lg-2 flex-column-center">
        {% if vich_uploader_asset(contact, 'imageFile') is null %}
            <img alt src="{{ asset('images/logo-user.png')| imagine_filter('miniature100x100') }}">
            {% else %}
                <img src="{{ vich_uploader_asset(contact, 'imageFile') | imagine_filter('miniature100x100') }}" class="rounded-circle">
                {% endif %}
                <div class="div-photo">
                    <label for="contacts_imageFile">
                        <i class="fas fa-sync"></i>PHOTO</label>
                    <i alt="Suppression de l'image" class="fas fa-times suppression-img"></i>
                </div>
                {{ form_widget(form.imageFile, { "attr" : { "class" : "display-none"}}) }}
                {{ form_widget(form.imageFile) }}
            </div>
            <div class="col-lg-10 form-style">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.code, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            <div class="required-field">
                                {{ form_widget(form.code, { "attr" : { "class" : "form-control col-lg-9"}}) }}
                            </div>
                            {{ form_errors(form.code) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.email, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.email, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.gender, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            <div class="required-field">
                                {{ form_widget(form.gender, { "attr" : { "class" : "form-control col-lg-12"}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_widget(form.optInNewsletter, { "attr" : { "class" : "col-lg-3 offset-lg-4"}}) }}
                            {{ form_label(form.optInNewsletter, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-3"}}) }}
                            {{ form_widget(form.optInOffresCommercial, { "attr" : { "class" :  "col-lg-3"}}) }}
                            {{ form_label(form.optInOffresCommercial, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-3"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.firstName, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            <div class="required-field">
                                {{ form_widget(form.firstName, { "attr" : { "class" : "form-control col-lg-12"}}) }}
                            </div>
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.company, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.company, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.lastName, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            <div class="required-field">
                                {{ form_widget(form.lastName, { "attr" : { "class" : "form-control col-lg-12"}}) }}
                            </div>
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.workName, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.workName, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                            {{ form_errors(form.workName) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.birthDate, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.birthDate, { "id":"datepicker", "attr" : { "class" : "form-control col-lg-8"}}) }}
                            {{ form_errors(form.birthDate) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.arrivalDate, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.arrivalDate, { "id":"datepicker", "attr" : { "class" : "form-control col-lg-4"}}) }}
                            {{ form_errors(form.arrivalDate) }}
                            {{ form_widget(form.departureDate, { "id":"datepicker", "attr" : { "class" : "form-control col-lg-4"}}) }}
                            {{ form_errors(form.departureDate) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.profession, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.profession, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.decisionMaking, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.decisionMaking, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.mobilePhone, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.mobilePhone, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                            {{ form_errors(form.mobilePhone) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.salesperson, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.salesperson, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                            {{ form_errors(form.salesperson) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.linkedin, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.linkedin, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                            {{ form_errors(form.linkedin) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.phone, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.phone, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.facebook, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.facebook, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                            {{ form_errors(form.facebook) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.standardPhone, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.standardPhone, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                            {{ form_errors(form.standardPhone) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.twitter, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.twitter, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                            {{ form_errors(form.twitter) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{ form_label(form.comment, null,  { "label_attr" : { "class" : "grey-text font-weight-light col-lg-4"}}) }}
                            {{ form_widget(form.comment, { "attr" : { "class" : "form-control col-lg-8"}}) }}
                        </div>
                    </div>
                </div>
                {{ form_row(form.status) }}
            </div>
        </div>
        {% if app.request.attributes.get("_route") == "contacts_edit" %}
            <button class="btn btn-retour-radius btn-light">
                <ahref="{{path('contacts_index')}}">Retour</a>
            </button>
        {% endif %}
        {# {% if app.request.attributes.get("_route") == "contacts_edit" %}
                    {{ include('contacts/_delete_form.html.twig') }}
                {% endif %} #}
        <button class="btn btn-radius-red">Demande de mise à jour</button>
        <button class="btn btn-radius-red">
            {{ button_label|default('Save') }}</button>
        {{ form_end(form) }}