{% extends 'base.html.twig' %}
{% block title %}Modification contact : {{ contact.firstName ~ " " ~ (contact.lastName | upper ) }}{% endblock %}
{% block body %}
    <h1>Contacts</h1>
    <div>
        <strong>{{ contact.getCivilite() ~ " " ~ contact.firstName ~ " " ~ (contact.lastName | upper )}}</strong>, {{ contact.workName }}, {{ contact.getAge() }} ans
        {{ include('contacts/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        
        
    </div>
{% endblock %}