{% extends 'base.html.twig' %}
{% block title %}Edit Contacts{% endblock %}
{% block body %}
    <h1>Contacts</h1>
    <div>
        <strong>{{ contact.getCivilite() ~ " " ~ contact.firstName ~ " " ~ (contact.lastName | upper )}}</strong>, {{ contact.workName }}, {{ contact.getAge() }} ans
        {{ include('contacts/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        <a href="{{ path('contacts_index') }}">back to list</a>
        {{ include('contacts/_delete_form.html.twig') }}
    </div>
{% endblock %}