{% extends 'base.html.twig' %}
{% block title %}Liste des contacts |
    {{settings[0].applicationname}}{% endblock %}
{% block body %}
    <h1>Contacts</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Commentaire</th>
                <th>Mobile</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Linkedin</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>
                        {{ contact.lastName }}</td>
                    <td>
                        {{ contact.firstName }}</td>
                    <td>
                        {{ contact.gender }}</td>
                    <td>
                        {{ contact.birthDate ? contact.birthDate|date('Y-m-d') : '' }}</td>
                        <td>
                        {{ contact.comment }}</td>
                    <td>
                        <i title="{{ contact.mobilePhone }}" class="fas fa-mobile"></i>
                    </td>
                    <td>
                        <i class="fas fa-phone-square" title="{{ contact.phone }}"></i>
                    </td>
                    <td>
                        <i class="fas fa-at" title="{{ contact.email }}"></i>
                    </td>
                    <td>
                        <a href="{{ contact.linkedin }}">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </td>
                    
                    <td>
                        <a href="{{ path('contacts_show', {'code': contact.code}) }}">Afficher</a>
                        <a href="{{ path('contacts_edit', {'code': contact.code}) }}">Modifier</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="21">Aucun contact trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('contacts_new') }}">Créer un contact</a>
{% endblock %}