{% extends 'base.html.twig' %}
{% block title %}Liste des contacts{% endblock %}
{% block body %}
    {% if is_granted("ROLE_COMMERCIAL") or is_granted("ROLE_RESPONSABLE") %}
        <h1>Mes contacts</h1><h2 class="red-primary"> ({{contacts|length}})</h2>
        {% else %}
        <h1>Contacts <strong class="red-primary">({{contacts|length}})</strong></h1>
    {% endif %}
    <div class="container-content">
        <table class="table">
            <thead>
                <tr>
                    <th><input id="check-all" name="checkBox[]" type="checkbox" value="all"/></th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Entreprise</th>
                    <th>Fonction</th>
                    <th>CP</th>
                    <th>Ville</th>
                    <th>Statut</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr class="clickable-row" data-href="{{ path('contacts_edit', {'code': contact.code}) }}">
                        <td>
                            <input type="checkbox" name="checkBox[]" id="check-{{ contact.code }}" value="{{ contact.code }}"/>
                            {% if vich_uploader_asset(contact, 'imageFile') is null %}
                                <img alt src="">
                                    {% else %}
                                    <img class="rounded-circle" src="{{ vich_uploader_asset(contact, 'imageFile') | imagine_filter('miniature') }}" alt>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ contact.firstName }}</td>
                                <td>
                                    {{ contact.lastName }}</td>
                                <td>
                                    {{ (contact.company != null) ? contact.company.name : "" }}</td>
                                <td>
                                    {{ contact.Profession.libelle}}</td>
                                <td>
                                    {{ (contact.company != null) ? contact.company.postalCode : "" }}</td>
                                <td>
                                    {{ (contact.company != null) ? contact.company.town : "" }}</td>
                                <td>
                                </td>
                                <td>
                                    <i class="fas fa-at" title="{{ contact.email }}"></i>
                                    <i title="{{ contact.mobilePhone }}" class="fas fa-mobile"></i>
                                    <i class="fas fa-phone-square" title="{{ contact.phone }}"></i>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="21">Aucun contact trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="panel-Boutons" >
                    <div class="panel-left">
                        <select class="form-control form-control-lg">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                        </select>
                        <i class="fas fa-trash" title="Supprimer"></i>
                        <i class="fas fa-download" title="Télécharger"></i>
                        <i class="fas fa-plus-circle" title="Importer"></i>
                    </div>
                    <a class="btn btn-radius-red" href="{{ path('contacts_new') }}">Ajouter</a>
                </div>
                    
            </div>
        {% endblock %}
    