<table class="table">
    <thead>
        <tr>
            <th>
                <strong>Chiffres d'affaires</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for turnover in turnovers %}
            <tr class="settings-row">
                <td data-toggle="modal" data-target="#editModalTurnovers" data-id="{{ turnover.id }}" data-libelle="{{ turnover.libelle }}">{{ turnover.libelle }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<button class="btn btn-radius-red" data-target="#addModalTurnovers" data-toggle="modal" type="button">Ajouter</button>

{# Modal ajout #}
<div aria-hidden="true" aria-labelledby="addModalLabel" class="modal fade" id="addModalTurnovers" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Ajouter un chiffre d'affaire</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formTurnoversAdd) }}
                <div class="row">
                    {{ form_label(formTurnoversAdd.libelle,null, { "label_attr" : { "class" : "col-lg-4"}})}}
                    {{ form_widget(formTurnoversAdd.libelle, { "attr" : { "class" : "form-control col-lg-8"}})}}
                </div>
                <div class="btn-end-form-add">
                    <button class="btn btn-radius-red" type="submit">Valider</button>
                </div>
                {{ form_end(formTurnoversAdd) }}

            </div>

        </div>
    </div>
</div>

{# Modal edit #}
<div aria-hidden="true" aria-labelledby="editModalLabel" class="modal fade" id="editModalTurnovers" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editer un chiffre d'affaire</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formTurnoversEdit) }}
                <input id="turnovers_id" name="turnovers[id]" type="hidden" value=""/>
                <div class="row">
                    {{ form_label(formTurnoversEdit.libelle,null, { "label_attr" : { "class" : "col-lg-4"}})}}
                    {{ form_widget(formTurnoversEdit.libelle, { "attr" : { "class" : "form-control col-lg-8"}})}}
                </div>
                <div class="btn-end-form-add">
                    <button class="btn btn-radius-red" type="submit">Valider</button>
                </div>
                {{ form_end(formTurnoversEdit) }}
            </div>
        </div>
    </div>
</div>
